---
import { Header } from "@/components/header";
import AppLayout from "@/layouts/app.astro";
export const prerender = true;
---

<AppLayout>
  <div class="flex flex-1 w-full flex-col justify-center py-8 sm:py-10">
    <Header transition:name="header" />
  </div>
</AppLayout>
