---
import { ClientRouter } from 'astro:transitions';
import { cn } from '@/utils/classes';
import '@/styles/global.css';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<html>
  <head>
    <title>Pádel Cantabria - Unofficial UI</title>
    <meta
      name="description"
      content="Unofficial Pádel Cantabria website is a project for educational purposes only. Improve the UI of the official Federacion cantabra de padel website."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />

    <ClientRouter />
  </head>
  <body class="bg-gray-950 text-gray-100 antialiased min-h-screen">
    <main
      class={cn('mx-auto max-w-4xl px-4 py-8 sm:py-10 min-h-screen flex flex-col', className)}
    >
      <slot />
    </main>
  </body>
</html>
