<html>
  <head>
    <title>FCP - Unofficial UI</title>
    <meta
      name="description"
      content="Unofficial FCP is a project for educational purposes only. Improve the UI of the official Federacion cantabra de padel website."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <main class="container mx-auto max-w-4xl">
      <slot />
    </main>
  </body>
</html>
