---
import { ClientRouter } from 'astro:transitions';
import { Footer } from '@/components/footer';
import { cn } from '@/utils/classes';
import '@/styles/global.css';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const { gender, group } = Astro.params;
---

<html>
  <head>
    <title>Pádel Cantabria - Unofficial UI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />

    <meta
      name="description"
      content={gender && group
        ? `Pádel Cantabria - Información de la categoría ${group} de ${gender.toLowerCase()}`
        : 'Pádel Cantabria - mejora la Ui del sitio oficial de la Liga Cántabra de Pádel, fue creada con motivos educativos'}
    />

    <ClientRouter />
  </head>
  <body class="bg-cantabria-bg text-cantabria-text antialiased min-h-screen">
    <main
      class={cn(
        'mx-auto max-w-4xl px-4 py-8 sm:py-10 min-h-screen flex flex-col',
        className,
      )}
    >
      <slot />

      <Footer />
    </main>
  </body>
</html>
